@mixin flex-std($content:flex-start){
    display: flex;
    justify-content: $content;
}

@mixin formBall($size:20px){
    width: $size;
    height: $size;
    border-radius: 50%;
}

@mixin selectInit(){
    appearance: none;
    border: none;
    &:focus{
        outline: none;
    }
}

@mixin onCenter($top:50%,$left:50%,$transX:-50%,$transY:-50%,$add:null){
    position: absolute;
    top: $top;
    left: $left;
    transform: translate($transX , $transY) $add;
}